* {
  box-sizing: border-box;
  font-family: "latoregular", sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
}

.button--participate,
.button--connect {
  background: #ffffff;
  border: 3px solid #ff6700;
  border-radius: 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ff6700;
  padding: 5px 10px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
}
